page-home {
    .toolbar-content p {
        margin-left: 10px;
    }
  }

ion-header.ble{ // header
    --ion-background-color: rgb(156, 145, 255);
    font-family: Georgia, Times, 'Times New Roman', serif;
}

ion-title.ble1 {  // title
    color: black;
    font-weight: bold;
    font-size: 1.2em;

}
ion-content.ble2 {  // content
    --ion-background-color: rgb(139, 236, 215); 
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1em;
}


ion-button.ble7{
    background-color: rgb(29, 9, 206);
    width:fit;
    color: rgb(124, 182, 209);
    font-weight: bold;
}

ion-label.ble3{  //label
    color:rgb(11, 10, 12);
    font-size: medium;
    font-weight: bold;
    margin-top: 10px;
}

ion-list.ble4{
    border: 10px;  
    border-color: rgb(34, 23, 133);
    border-style:ridge;
    line-height: normal;

}

.ble5{
    font-size: large;
    color: black;
    font-weight: bold;
}
.ble6{
    font-size: medium;
    color: black;
    font-weight:lighter;
}