<ion-header padding class="forgot-password">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title padding class="forgot-password1"> Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="forgot-password2">
  <form padding class="forgot-password5">
    <ion-item lines="full">
      <ion-label position="floating" padding class="forgot-password3" color="black">Username</ion-label>
      <ion-input type="text" required  [(ngModel)] = "keydata.username" name="username"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating" padding class="forgot-password3" color="black">Enter New Password</ion-label>
      <ion-input type="password" required [(ngModel)]="getData.password" name="password"></ion-input>
    </ion-item>


    <ion-row>
      <ion-col>
        <ion-button (click)="getStorage()" type="submit" color=rgb padding class="forgot-password4"expand="block">RESET</ion-button>
      </ion-col>
    </ion-row>

    <small>
      Please provide the username which you used during registration.  
    </small>
  </form>
</ion-content>